
body{
	margin: 0;
    padding-top: 100px;
    min-height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  /* background-color: #e1e3ea; */
  height: 100vh;
  font-family: sans-serif;
}

.app {
  width: 60%;
  --color-bg: white;
  --wrapper-border: 10px solid #204975;
}

.app h1 {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #044c92;
  font-family: "Tahoma", sans-serif;
  border-radius: 20px;
  margin: 2px;
}

.app form {
  display: flex;
  width: 100%;
  /* background-color: #262e4c; */
}

.app form input {
  border: none;
  background-color: #ffffff;
  font-size: 20px;
  color: #044c92;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  margin: 2px;
  font-style: italic;
  outline: none;
}

.app form button {
  border: none;
  color: #044c92;
  background-color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 20%;
  border-radius: 20px;
  margin: 2px;
}

.app ul {
  list-style: none;
  color: #ec95cf;
  padding: 0;
  width: auto;
}

.app ul li {
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #40beff;
  border-radius: 10px;
  padding-inline-start: 20px;
  margin: 2px;
}
/* li {
    width : 600px;
  } */

.check {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(246 195 230);
  border: 1px solid rgb(246 195 230);
  -webkit-appearance: none;
}

.check:checked {
  background-color: rgba(148, 187, 233, 1);
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: #012a9d;
}

.task:focus {
  outline: none;
}

.app ul li i {
  float: right;
  cursor: pointer;
}

.app ul li i:hover {
  color: rgba(148, 187, 233, 1);
}

.completed {
  color: rgba(192, 192, 192, 0.8);
  text-decoration: line-through;
  font-style: italic;
  text-decoration-color: #f01206;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

